#!include:.gitignore

# Developer tools
.git
.tool-versions

# Umbrella
apps/**/config/*.secret.exs
apps/**/node_modules
apps/**/priv/cert
apps/**/priv/static

# Docker
.gcloudignore
cloudbuild.yaml
docker-compose.yml